/* ==========================================================================
Form specific grid - 12 columns, 940px
========================================================================== */
$column: 60px;
$gutter: 20px;

$extra: 10px; // subtract this to account for padding and borders

$span1: $column;
$span2: ($column*2) + ($gutter);
$span3: ($column*3) + ($gutter*2);
$span4: ($column*4) + ($gutter*3);
$span5: ($column*5) + ($gutter*4);
$span6: ($column*6) + ($gutter*5);
$span7: ($column*7) + ($gutter*6);
$span8: ($column*8) + ($gutter*7);
$span9: ($column*9) + ($gutter*8);
$span10: ($column*10) + ($gutter*9);
$span11: ($column*11) + ($gutter*10);
$span12: ($column*12) + ($gutter*11);


/* ==========================================================================
Demo Specific Styles
========================================================================== */

body {
  padding: 60px 0 120px 0;
}

div.sign-in-wrap,
div.basic-sign-up-wrap,
div.complex-sign-up-wrap,
div.credit-card-payment-wrap {
  margin: 0 auto $lineHeight auto;
  width: $span8 + 42px; // width of form element area, plus 20px padding and 1px border per side
}


/* ==========================================================================
Base Styles for all forms, modified Twitter Bootstrap
========================================================================== */

form {
  background: $grayLightest;
  border: 1px solid $gray;
  border: 1px solid rgba($black, 0.05);
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 1px rgba($black, 0.05));
  color: $grayDark;
  font-family: $textFontFamily;
  font-size: $baseFontSize;
  font-weight: normal;
  line-height: $lineHeight;
}

button {
  font-family: $textFontFamily;
  font-size: $baseFontSize;
  font-weight: normal;
  line-height: $lineHeight;
}

fieldset {
  padding: 0;
  margin: 0 20px $lineHeight 20px;
  border: 0;
}

fieldset.last {
  margin-bottom: 0;
}

legend {
  border: 0;
  display: block;
  font-family: $headerFontFamily;
  font-size: $baseFontSize*1.5;
  line-height: $lineHeight*2;
  margin: 6px 20px $lineHeight 20px;
  padding: 0;
}

fieldset legend {
  border: 0;
  font-size: $baseFontSize*1.2;
  font-weight: bold;
  line-height: $lineHeight*1.2;
  margin: 0;
  padding-bottom: $lineHeight/3;
}

label {
  display: block;
  height: $lineHeight;
  line-height: $lineHeight;
  margin: 0;
  color: $grayDark;
}

label.checkbox {
  margin-bottom: $lineHeight;
}

input,
textarea,
select,
.uneditable-input {
  @include border-radius(3px);
  border: 1px solid $grayLight;
  color: $gray;
  @include inline-block;
  font-size: $baseFontSize;
  height: $lineHeight;
  line-height: $lineHeight;
  margin-bottom: $lineHeight;
  padding: 4px;
  width: $span5 - $extra;
}

select {
  height: $lineHeight+10;
}

.uneditable-textarea {
  height: auto;
  width: auto;
}

label input,
label textarea,
label select {
  display: block;
}

form {
  ul {
    @include clearfix;
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
    position: relative;
  }
}

label.error {
  background: $grayDark;
  @include border-radius(2px);
  color: $white;
  display: block;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  right: 0;
  text-shadow: 0 1px 0 $black;
  top: $lineHeight;
  width: $span3 - $extra;

  &::before {
    content: "";
    background: $grayDark;
    display: block;
    height: 8px;
    left: -4px;
    position: absolute;
    top: ($lineHeight/2) + (2);
    @include transform(rotate(45deg));
    @include transform-origin(center center);
    width: 8px;
  }
}

div.form-actions {
  margin: 0 20px $lineHeight 20px;
}

button {
  @include bootstrap-button($blueDark, $white);
  font-weight: bold;
}

/* ==========================================================================
Styles specific to individual forms
========================================================================== */

// Credit Card forms ===================================================== //
form.credit-card-payment-form {

  li.shipping-city, li.billing-city,
  li.shipping-state, li.billing-state,
  li.shipping-zip, li.billing-zip,
  li.exp-month,
  li.exp-year,
  li.csc {
    float: left;
    margin-right: $gutter;
  }

  li.shipping-city, li.billing-city {
    width: $span3;

    input {
      width: $span3 - $extra;
    }
  }

  li.shipping-state, li.billing-state {
    width: $span1;

    input {
      width: $span1 - $extra;
    }
  }

  li.shipping-zip, li.billing-zip,
  li.csc {
    margin-right: 0;
    width: $span1;

    input {
      width: $span1 - $extra;
    }
  }

  span.lock {
    background: url(../images/glyphicons.png) no-repeat -287px -24px;
    display: block;
    height: 14px;
    position: absolute;
    top: 25px;
    left: 359px;
    width: 14px;
  }

  li.exp-month,
  li.exp-year {
    width: $span2;

    select {
      width: $span2;
    }
  }

  li.csc {
    span.question {
      background: url(../images/glyphicons.png) no-repeat -96px -96px;
      cursor: pointer;
      display: block;
      float: right;
      height: 14px;
      margin-top: 1px;
      position: relative;
      width: 14px;
    }
    div.answer {
      background: $white;
      border: 1px solid $grayDark;
      @include border-radius(4px);
      cursor: default;
      @include opacity(0);
      padding: 5px;
      position: absolute;
      right: -242px;
      top: -28px;
      @include transition(opacity, 0.2s, linear);
      width: $span3 - $extra;

      &::before {
        background: $white;
        border-left: 1px solid $grayDark;
        border-bottom: 1px solid $grayDark;
        content: "";
        display: block;
        height: 6px;
        left: -4px;
        position: absolute;
        top: 30px;
        @include transform(rotate(45deg));
        @include transform-origin(center center);
        width: 6px;
      }
    }

    div.answer:hover {
      @include opacity(0);
    }

    span.question:hover div {
      @include opacity(1);
    }
  }
}

