/* ==========================================================================
Global styles
========================================================================== */

body {
  padding-top: 60px;
}

form {
  background: $grayLightest;
  border: 1px solid $gray;
  border: 1px solid rgba($black, 0.05);
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 1px rgba($black, 0.05));
  margin: 0 auto 24px auto;
  padding: 6px 20px 20px 20px;
  width: 400px;
}

input,
textarea,
select,
.uneditable-input {
  width: 62%;
}

label {
  height: 20px;
  line-height: 20px;
  margin: 0;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  position: relative;
}

.error {
  background: $grayDark;
  @include border-radius(2px);
  color: $white;
  display: block;
  font-size: 12px;
  padding: 6px;
  position: absolute;
  right: 0;
  text-shadow: 0 1px 0 $black;
  top: 20px;
  width: 30%;

  &::before {
    content: "";
    background: $grayDark;
    display: block;
    height: 8px;
    left: -4px;
    position: absolute;
    top: 11px;
    @include transform(rotate(45deg));
    @include transform-origin(center center);
    width: 8px;
  }
}

button {
  @include bootstrap-button($blueDark, $white);
  font-weight: bold;
}
