/* ==========================================================================
Global styles
========================================================================== */

body {
  padding-top: 60px;
}

form {
  background: $grayLightest;
  border: 1px solid $gray;
  border: 1px solid rgba($black, 0.05);
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 1px rgba($black, 0.05));
  margin: 0 auto 24px auto;
  padding: 6px 20px 20px 20px;
  width: 400px;
}

button {
  @include bootstrap-button($blueDark, $white);
  font-weight: bold;
}
