/* ==========================================================================
Demo Specific Styles
========================================================================== */

body {
  padding: 60px 0 120px 0;
}

div.sign-in-wrap,
div.basic-sign-up-wrap,
div.complex-sign-up-wrap,
div.credit-card-payment-wrap {
  margin: 0 auto $lineHeight auto;
  width: 600px;
}

/* ==========================================================================
Base Styles for all forms, modified Twitter Bootstrap
========================================================================== */

form {
  background: $grayLightest;
  border: 1px solid $gray;
  border: 1px solid rgba($black, 0.05);
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 1px rgba($black, 0.05));
  color: $grayDark;
  font-family: $textFontFamily;
  font-size: $baseFontSize;
  font-weight: normal;
  line-height: $lineHeight;
}

button {
  font-family: $textFontFamily;
  font-size: $baseFontSize;
  font-weight: normal;
  line-height: $lineHeight;
}

fieldset {
  padding: 0;
  margin: 0 20px $lineHeight 20px;
  border: 0;
}

fieldset.last {
  margin-bottom: 0;
}

legend {
  border: 0;
  display: block;
  font-size: $baseFontSize*1.5;
  line-height: $lineHeight*2;
  margin: 6px 20px $lineHeight 20px;
  padding: 0;
}

fieldset legend {
  border: 0;
  font-size: $baseFontSize*1.2;
  font-weight: bold;
  line-height: $lineHeight*1.2;
  margin: 0;
  padding-bottom: $lineHeight/3;
}

label {
  display: block;
  height: $lineHeight;
  line-height: $lineHeight;
  margin: 0;
  color: $grayDark;
}

label.checkbox {
  margin-bottom: $lineHeight;
}

input,
textarea,
select,
.uneditable-input {
  @include border-radius(3px);
  border: 1px solid $grayLight;
  color: $gray;
  @include inline-block;
  font-size: $baseFontSize;
  height: $lineHeight;
  line-height: $lineHeight;
  margin-bottom: $lineHeight;
  padding: 4px;
  width: 62%;
}

select {
  height: $lineHeight+10;
}

.uneditable-textarea {
  height: auto;
  width: auto;
}

label input,
label textarea,
label select {
  display: block;
}

form {
  ul {
    @include clearfix;
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
    position: relative;
  }
}

.error {
  background: $grayDark;
  @include border-radius(2px);
  color: $white;
  display: block;
  font-size: 12px;
  padding: 6px;
  position: absolute;
  right: 0;
  text-shadow: 0 1px 0 $black;
  top: $lineHeight;
  width: 30%;

  &::before {
    content: "";
    background: $grayDark;
    display: block;
    height: 8px;
    left: -4px;
    position: absolute;
    top: ($lineHeight/2) + (2);
    @include transform(rotate(45deg));
    @include transform-origin(center center);
    width: 8px;
  }
}

div.form-actions {
  margin: 0 20px $lineHeight 20px;
}

button {
  @include bootstrap-button($blueDark, $white);
  font-weight: bold;
}

/* ==========================================================================
Styles specific to individual forms
========================================================================== */

// Credit Card forms ==================== //
form.credit-card-payment-form {

  li.name-on-card input,
  li.street-address input,
  li.street-address-two input {
    width: 300px;
  }

  li.city,
  li.state,
  li.zip {
    float: left;
    margin-right: 10px;
  }

  li.city {
    width: 150px;

    input {
      width: 140px;
    }
  }

  li.state {
    width: 60px;

    input {
      width: 50px;
    }
  }

  li.zip {
    margin-right: 0;
    width: 80px;

    input {
      width: 70px;
    }
  }
}
