/* ==========================================================================
Form specific grid - 12 columns, 940px
========================================================================== */
$column: 60px;
$gutter: 20px;

$extra: 10px; // subtract this to account for padding and borders

$span1: $column;
$span2: ($column*2) + ($gutter);
$span3: ($column*3) + ($gutter*2);
$span4: ($column*4) + ($gutter*3);
$span5: ($column*5) + ($gutter*4);
$span6: ($column*6) + ($gutter*5);
$span7: ($column*7) + ($gutter*6);
$span8: ($column*8) + ($gutter*7); // demos only account for width of 8 columns
$span9: ($column*9) + ($gutter*8);
$span10: ($column*10) + ($gutter*9);
$span11: ($column*11) + ($gutter*10);
$span12: ($column*12) + ($gutter*11);


/* ==========================================================================
Bootstrap buttons, simplified into a single mixins
========================================================================== */

@mixin bootstrap-button($bgColor: $blue, $textColor: $white) {
  background-color: $bgColor;
  @include background-image(linear-gradient(top, lighten($bgColor, 15%) 0%, $bgColor 100%));
  background-repeat: repeat-x;
  border: 1px solid $bgColor;
  border-bottom-color: darken($bgColor, 5%);
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 0 rgba($white, 0.2), 0 1px 2px rgba($black, 0.05));
  color: $textColor;
  cursor: pointer;
  @include inline-block();
  font-size: $baseFontSize;
  font-weight: normal;
  line-height: $lineHeight;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px darken($bgColor, 25%);
  @include transition(background-position 0.1s linear);
  vertical-align: middle;

  &:hover {
    background-color: $bgColor;
    background-position: 0 -15px;
    color: $textColor;
    text-decoration: none;
  }

  &:active {
    background-color: darken($bgColor, 5%);
    background-image: none;
    @include box-shadow(inset 0 2px 4px rgba($black, 0.15), 0 1px 2px rgba($black, 0.05));
    outline: 0;
  }
}


/* ==========================================================================
Demo Specific Styles
========================================================================== */

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  padding: 0;
}

header {
  margin: ($lineHeight * 2) auto;
  width: $span8 + 42px; // width of form element area, plus 20px padding and 1px border per side
}

h1 {
  margin-bottom: ($lineHeight / 2);
}

nav ul {
  @include clearfix;
  font-size: 14px;
  list-style-type: none;
  margin: 0;

  li {
    float: left;
    margin-right: 20px;
  }

  a {
    background-color: $white;
    @include border-radius(2px);
    color: $grayDark;
    padding: 3px 6px;
    text-decoration: none;
    @include transition(background-color, 0.2s, linear);
  }

  a:hover {
    background-color: $grayDark;
    color: $white;
  }

  a.current {
    background-color: $grayDark;
    color: $white;
  }
}

div.signInWrap,
div.searchWrap,
div.basicSignUpWrap,
div.complexSignUpWrap,
div.creditCardPaymentWrap {
  margin: 0 auto $lineHeight auto;
  width: $span8 + 42px; // width of form element area, plus 20px padding and 1px border per side
}

footer {
  @include box-shadow(inset 0 1px 1px rgba($black, 0.1));
  color: $grayDark;
  margin-top: $lineHeight * 10;
  padding: $lineHeight 0;
  text-align: center;

  div.center {
    margin: 0 auto;
    width: $span8 + 42px; // width of form element area, plus 20px padding and 1px border per side
  }

  a {
    color: $blueDark;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    color: darken($blueDark, 5%);
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}


/* ==========================================================================
Base Styles for all forms, modified Twitter Bootstrap
========================================================================== */

form {
  background: $grayLightest;
  border: 1px solid $gray;
  border: 1px solid rgba($black, 0.05);
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 1px rgba($black, 0.05));
  color: $grayDark;
  font-family: $textFontFamily;
  font-size: $baseFontSize;
  font-weight: normal;
  line-height: $lineHeight;
}

button {
  @include bootstrap-button($blueDark, $white);
  font-family: $textFontFamily;
  font-size: $baseFontSize;
  font-weight: bold;
  line-height: $lineHeight;
}

fieldset {
  padding: 0;
  margin: 0 20px $lineHeight 20px;
  border: 0;
}

legend {
  border: 0;
  display: block;
  font-family: $headerFontFamily;
  font-size: $baseFontSize*1.5;
  line-height: $lineHeight*2;
  margin: 6px 20px $lineHeight 20px;
  padding: 0;
}

fieldset legend {
  border: 0;
  font-size: $baseFontSize*1.2;
  font-weight: bold;
  line-height: $lineHeight*1.2;
  margin: 0;
  padding-bottom: $lineHeight/3;
}

label {
  display: block;
  height: $lineHeight;
  line-height: $lineHeight;
  margin: 0;
  color: $grayDark;
}

label.checkbox {
  margin-bottom: $lineHeight;
}

input,
textarea,
select,
.uneditableInput {
  @include border-radius(3px);
  border: 1px solid $grayLight;
  color: $gray;
  @include inline-block;
  font-size: $baseFontSize;
  height: $lineHeight;
  line-height: $lineHeight;
  margin-bottom: $lineHeight;
  padding: 4px;
  width: $span5 - $extra;
}

select {
  height: $lineHeight+10;
}

.uneditableTextarea {
  height: auto;
  width: auto;
}

label input,
label textarea,
label select {
  display: block;
}

form {
  ul {
    @include clearfix;
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
    position: relative;
  }
}

label.error {
  background: $grayDark;
  @include border-radius(2px);
  color: $white;
  display: block;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  right: 0;
  text-shadow: 0 1px 0 $black;
  top: $lineHeight;
  width: $span3 - $extra;

  &::before {
    content: "";
    background: $grayDark;
    display: block;
    height: 8px;
    left: -4px;
    position: absolute;
    top: ($lineHeight/2) + (2);
    @include transform(rotate(45deg));
    @include transform-origin(center center);
    width: 8px;
  }
}

div.formActions {
  margin: 0 20px $lineHeight 20px;
}


/* ==========================================================================
Styles specific to Search Form
========================================================================== */

form.search {

  fieldset {
    @include clearfix;
    margin-bottom: 0;
    position: relative;
    width: $span4;
  }

  input {
    @include border-radius(($lineHeight + $extra) / 2);
    float: left;
    margin-right: $gutter;
    padding-left: 10px;
    width: $span4 - ($extra + 6px); //account for extra padding-left
  }

  button {
    @include border-radius(0 (($lineHeight + $extra) / 2) (($lineHeight + $extra) / 2) 0);
    float: left;
    right: 0;
    padding-left: 0; padding-right: 0; //fix text-align center bug
    position: absolute;
    top: 0;
    width: $span1;
  }
}

/* ==========================================================================
Styles specific to Credit Card Payment Form
========================================================================== */

form.creditCardPayment {

  li.shippingCity, li.billingCity,
  li.shippingState, li.billingState,
  li.shippingZip, li.billingZip,
  li.expMonth,
  li.expYear,
  li.csc {
    float: left;
    margin-right: $gutter;
  }

  li.shippingCity, li.billingCity {
    width: $span3;

    input {
      width: $span3 - $extra;
    }

    label.error {
      top: $lineHeight * 3;

      &::before {
        left: 11px;
        top: -4px;
      }
    }
  }

  li.shippingState, li.billingState {
    width: $span1;

    input {
      width: $span1 - $extra;
    }

    label.error {
      top: $lineHeight * 3;
      right: -160px;

      &::before {
        left: 11px;
        top: -4px;
      }
    }
  }

  li.shippingZip, li.billingZip,
  li.csc {
    margin-right: 0;
    width: $span1;

    input {
      width: $span1 - $extra;
    }

    label.error {
      right: -240px;
    }
  }

  span.lock {
    background: url(../images/glyphicons.png) no-repeat -287px -24px;
    display: block;
    height: 14px;
    position: absolute;
    top: 25px;
    left: 359px;
    width: 14px;
  }

  li.expMonth,
  li.expYear {
    width: $span2;

    select {
      width: $span2;
    }
  }

  li.csc {

    label {
      cursor: pointer;
      overflow: hidden;
      position: relative;
    }

    span.question {
      background: url(../images/glyphicons.png) no-repeat -96px -96px;
      display: block;
      float: right;
      height: 14px;
      margin-top: 1px;
      width: 14px;
    }
    div.answer {
      background: $white;
      border: 1px solid $grayDark;
      @include border-radius(4px);
      cursor: default;
      opacity: 0;
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=(0))"; // IE8
      filter: alpha(opacity=(0)); // IE5-7
      zoom: 1; // hacks IE requirement that element be positioned
      padding: 5px;
      position: absolute;
      right: -242px;
      top: -28px;
      @include transition(opacity, 0.2s, linear);
      width: $span3 - $extra;

      &::before {
        background: $white;
        border-left: 1px solid $grayDark;
        border-bottom: 1px solid $grayDark;
        content: "";
        display: block;
        height: 6px;
        left: -4px;
        position: absolute;
        top: 30px;
        @include transform(rotate(45deg));
        @include transform-origin(center center);
        width: 6px;
      }
    }

    label:hover {
      overflow: visible;
    }

    label:hover div.answer {
      opacity: 1;
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=(100))"; // IE8
      filter: alpha(opacity=(100)); // IE5-7
      zoom: 1; // hacks IE requirement that element be positioned
    }
  }
}

