.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* ==========================================================================
Reset adapted from Twitter Bootstrap
https://github.com/twitter/bootstrap/
========================================================================== */
html, body {
  margin: 0;
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* ==========================================================================
Forms adapted from Twitter Bootstrap
https://github.com/twitter/bootstrap/
========================================================================== */
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
  /* IE9 and down */ }

input[type="image"] {
  border: 0; }

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: white;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto; }

select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 28px; }

input[type="file"] {
  line-height: 18px \9; }

select {
  width: 220px;
  background-color: white; }

select[multiple],
select[size] {
  height: auto; }

input[type="image"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

textarea {
  height: auto; }

input[type="hidden"] {
  display: none; }

.radio,
.checkbox {
  padding-left: 18px; }

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px; }

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px; }

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle; }

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px; }

input,
textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition-property: all, linear, 0.2s;
  -moz-transition-property: all, linear, 0.2s;
  -ms-transition-property: all, linear, 0.2s;
  -o-transition-property: all, linear, 0.2s;
  transition-property: all, linear, 0.2s;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }

input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */ }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #f5f5f5;
  border-color: #eeeeee;
  cursor: not-allowed; }

.form-actions {
  padding-top: 18px;
  margin-top: 18px;
  background-color: #f5f5f5;
  border-top: 1px solid #eeeeee; }

.uneditable-input {
  display: block;
  background-color: white;
  border-color: #eeeeee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed; }

.search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px; }

/* ==========================================================================
Form specific grid - 12 columns, 940px
========================================================================== */
/* ==========================================================================
Demo Specific Styles
========================================================================== */
body {
  padding: 60px 0 120px 0; }

div.sign-in-wrap,
div.basic-sign-up-wrap,
div.complex-sign-up-wrap,
div.credit-card-payment-wrap {
  margin: 0 auto 18px auto;
  width: 662px; }

/* ==========================================================================
Base Styles for all forms, modified Twitter Bootstrap
========================================================================== */
form {
  background: #f5f5f5;
  border: 1px solid #555555;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px; }

button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px; }

fieldset {
  padding: 0;
  margin: 0 20px 18px 20px;
  border: 0; }

fieldset.last {
  margin-bottom: 0; }

legend {
  border: 0;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 36px;
  margin: 6px 20px 18px 20px;
  padding: 0; }

fieldset legend {
  border: 0;
  font-size: 14.4px;
  font-weight: bold;
  line-height: 21.6px;
  margin: 0;
  padding-bottom: 6px; }

label {
  display: block;
  height: 18px;
  line-height: 18px;
  margin: 0;
  color: #333333; }

label.checkbox {
  margin-bottom: 18px; }

input,
textarea,
select,
.uneditable-input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #999999;
  color: #555555;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  margin-bottom: 18px;
  padding: 4px;
  width: 370px; }

select {
  height: 28px; }

.uneditable-textarea {
  height: auto;
  width: auto; }

label input,
label textarea,
label select {
  display: block; }

form ul {
  zoom: 1;
  margin: 0;
  list-style-type: none;
  padding: 0; }
  form ul:before, form ul:after {
    content: "";
    display: table; }
  form ul:after {
    clear: both; }
form li {
  margin: 0;
  padding: 0;
  position: relative; }

label.error {
  background: #333333;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: white;
  display: block;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  right: 0;
  text-shadow: 0 1px 0 black;
  top: 18px;
  width: 210px; }
  label.error::before {
    content: "";
    background: #333333;
    display: block;
    height: 8px;
    left: -4px;
    position: absolute;
    top: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    width: 8px; }

div.form-actions {
  margin: 0 20px 18px 20px; }

button {
  background-color: #0064cd;
  background-image: -webkit-linear-gradient(top, #1b8aff 0%, #0064cd 100%);
  background-image: -moz-linear-gradient(top, #1b8aff 0%, #0064cd 100%);
  background-image: -ms-linear-gradient(top, #1b8aff 0%, #0064cd 100%);
  background-image: -o-linear-gradient(top, #1b8aff 0%, #0064cd 100%);
  background-image: linear-gradient(top, #1b8aff 0%, #0064cd 100%);
  background-repeat: repeat-x;
  border: 1px solid #0064cd;
  border-bottom-color: #0058b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: white;
  cursor: pointer;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px #00264e;
  -webkit-transition-property: background-position, 0.1s, linear;
  -moz-transition-property: background-position, 0.1s, linear;
  -ms-transition-property: background-position, 0.1s, linear;
  -o-transition-property: background-position, 0.1s, linear;
  transition-property: background-position, 0.1s, linear;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  vertical-align: middle;
  font-weight: bold; }
  button:hover {
    background-color: #0064cd;
    background-position: 0 -15px;
    color: white;
    text-decoration: none; }
  button:active {
    background-color: #0058b3;
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0; }

/* ==========================================================================
Styles specific to individual forms
========================================================================== */
form.credit-card-payment-form li.city,
form.credit-card-payment-form li.state,
form.credit-card-payment-form li.zip,
form.credit-card-payment-form li.exp-month,
form.credit-card-payment-form li.exp-year,
form.credit-card-payment-form li.csc {
  float: left;
  margin-right: 20px; }
form.credit-card-payment-form li.city {
  width: 220px; }
  form.credit-card-payment-form li.city input {
    width: 210px; }
form.credit-card-payment-form li.state {
  width: 60px; }
  form.credit-card-payment-form li.state input {
    width: 50px; }
form.credit-card-payment-form li.zip,
form.credit-card-payment-form li.csc {
  margin-right: 0;
  width: 60px; }
  form.credit-card-payment-form li.zip input,
  form.credit-card-payment-form li.csc input {
    width: 50px; }
form.credit-card-payment-form span.lock {
  background: url(../images/glyphicons.png) no-repeat -287px -24px;
  display: block;
  height: 14px;
  position: absolute;
  top: 25px;
  left: 359px;
  width: 14px; }
form.credit-card-payment-form li.exp-month,
form.credit-card-payment-form li.exp-year {
  width: 140px; }
  form.credit-card-payment-form li.exp-month select,
  form.credit-card-payment-form li.exp-year select {
    width: 140px; }
form.credit-card-payment-form li.csc span.question {
  background: url(../images/glyphicons.png) no-repeat -96px -96px;
  cursor: pointer;
  display: block;
  float: right;
  height: 14px;
  margin-top: 1px;
  position: relative;
  width: 14px; }
form.credit-card-payment-form li.csc div.answer {
  background: white;
  border: 1px solid #333333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  cursor: default;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($value * 100))";
  filter: alpha(opacity=0);
  zoom: 1;
  padding: 5px;
  position: absolute;
  right: -242px;
  top: -28px;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  width: 210px; }
  form.credit-card-payment-form li.csc div.answer::before {
    background: white;
    border-left: 1px solid #333333;
    border-bottom: 1px solid #333333;
    content: "";
    display: block;
    height: 6px;
    left: -4px;
    position: absolute;
    top: 30px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    width: 6px; }
form.credit-card-payment-form li.csc div.answer:hover {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($value * 100))";
  filter: alpha(opacity=0);
  zoom: 1; }
form.credit-card-payment-form li.csc span.question:hover div {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($value * 100))";
  filter: alpha(opacity=100);
  zoom: 1; }
