.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* ==========================================================================
Reset adapted from Twitter Bootstrap
https://github.com/twitter/bootstrap/
========================================================================== */
html, body {
  margin: 0;
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* ==========================================================================
Typography adapted from Twitter Bootstrap
https://github.com/twitter/bootstrap/
========================================================================== */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

p {
  margin: 0 0 9px;
  font-size: 12px;
  line-height: 18px; }
  p small {
    font-size: 10px;
    color: black; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: black;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #1a1a1a; }

h1 {
  font-size: 30px;
  line-height: 36px; }
  h1 small {
    font-size: 18px; }

h2 {
  font-size: 24px;
  line-height: 36px; }
  h2 small {
    font-size: 18px; }

h3 {
  line-height: 27px;
  font-size: 18px; }
  h3 small {
    font-size: 14px; }

h4, h5, h6 {
  line-height: 18px; }

h4 {
  font-size: 14px; }
  h4 small {
    font-size: 12px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 11px;
  color: #1a1a1a;
  text-transform: uppercase; }

ul, ol {
  padding: 0;
  margin: 0 0 9px 25px; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  line-height: 18px; }

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none; }

dl {
  margin-bottom: 18px; }

dt,
dd {
  line-height: 18px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 9px; }

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #555555;
  border-bottom: 1px solid white; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eeeeee; }
  blockquote p {
    margin-bottom: 0; }
  blockquote small {
    display: block;
    line-height: 18px;
    color: #999999; }
    blockquote small:before {
      content: '\2014 \00A0'; }

code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 11px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

code {
  padding: 3px 4px;
  color: #9d261d;
  background-color: #f5f5f5;
  border: 1px solid #999999; }

pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12px;
  line-height: 18px;
  background-color: #f5f5f5;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }
  pre.prettyprint {
    margin-bottom: 18px; }
  pre code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0; }

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll; }

/* ==========================================================================
Forms adapted from Twitter Bootstrap
https://github.com/twitter/bootstrap/
========================================================================== */
form {
  margin: 0 0 18px; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #eeeeee; }

label,
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px; }

label {
  display: block;
  margin-bottom: 5px;
  color: #333333; }

input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.uneditable-textarea {
  width: auto;
  height: auto; }

label input,
label textarea,
label select {
  display: block; }

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
  /* IE9 and down */ }

input[type="image"] {
  border: 0; }

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: white;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto; }

select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 28px; }

input[type="file"] {
  line-height: 18px \9; }

select {
  width: 220px;
  background-color: white; }

select[multiple],
select[size] {
  height: auto; }

input[type="image"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

textarea {
  height: auto; }

input[type="hidden"] {
  display: none; }

.radio,
.checkbox {
  padding-left: 18px; }

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px; }

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px; }

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle; }

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px; }

input,
textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition-property: border, linear, 0.2s;
  -moz-transition-property: border, linear, 0.2s;
  -ms-transition-property: border, linear, 0.2s;
  -o-transition-property: border, linear, 0.2s;
  transition-property: border, linear, 0.2s;
  -webkit-transition-duration: box-shadow, linear, 0.2s;
  -moz-transition-duration: box-shadow, linear, 0.2s;
  -ms-transition-duration: box-shadow, linear, 0.2s;
  -o-transition-duration: box-shadow, linear, 0.2s;
  transition-duration: box-shadow, linear, 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }

input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */ }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.input-mini {
  width: 60px; }

.input-small {
  width: 90px; }

.input-medium {
  width: 150px; }

.input-large {
  width: 210px; }

.input-xlarge {
  width: 270px; }

.input-xxlarge {
  width: 530px; }

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
  float: none;
  margin-left: 0; }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #f5f5f5;
  border-color: #eeeeee;
  cursor: not-allowed; }

.form-actions {
  padding: 17px 20px 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: #f5f5f5;
  border-top: 1px solid #eeeeee; }

.uneditable-input {
  display: block;
  background-color: white;
  border-color: #eeeeee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed; }

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 0;
  color: #999999; }

.help-inline {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  margin-bottom: 9px;
  vertical-align: middle;
  padding-left: 5px; }

.input-prepend,
.input-append {
  margin-bottom: 5px;
  zoom: 1; }
  .input-prepend:before, .input-prepend:after,
  .input-append:before,
  .input-append:after {
    content: "";
    display: table; }
  .input-prepend:after,
  .input-append:after {
    clear: both; }
  .input-prepend input,
  .input-prepend .uneditable-input,
  .input-append input,
  .input-append .uneditable-input {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0; }
    .input-prepend input:focus,
    .input-prepend .uneditable-input:focus,
    .input-append input:focus,
    .input-append .uneditable-input:focus {
      position: relative;
      z-index: 2; }
  .input-prepend .uneditable-input,
  .input-append .uneditable-input {
    border-left-color: #eeeeee; }
  .input-prepend .add-on,
  .input-append .add-on {
    float: left;
    display: block;
    width: auto;
    min-width: 16px;
    height: 18px;
    margin-right: -1px;
    padding: 4px 5px;
    font-weight: normal;
    line-height: 18px;
    color: #999999;
    text-align: center;
    text-shadow: 0 1px 0 white;
    background-color: #f5f5f5;
    border: 1px solid #eeeeee;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px; }
  .input-prepend .active,
  .input-append .active {
    background-color: #a9dba9;
    border-color: #46a546; }

.input-prepend .add-on {
  *margin-top: 1px;
  /* IE6-7 */ }

.input-append input,
.input-append .uneditable-input {
  float: left;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px; }
.input-append .uneditable-input {
  border-left-color: #eeeeee;
  border-right-color: #eeeeee; }
.input-append .add-on {
  margin-right: 0;
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0; }
.input-append input:first-child {
  *margin-left: -160px; }
  .input-append input:first-child + .add-on {
    *margin-left: -21px; }

.search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px; }

/* ==========================================================================
Global styles
========================================================================== */
body {
  padding-top: 60px; }

form {
  background: #f5f5f5;
  border: 1px solid #555555;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 0 auto 24px auto;
  padding: 20px;
  width: 400px; }
